body {

    width: 100vw;
  
    height: 100vh;
  
    display: flex;
  
    justify-content: center;
  
    align-items: center;
  
    flex-direction: column;
  
    background-position: center;
  
    font-family: gill sans, sans-serif;
  
  }
  
  
  
  img#bg-img {
  
    opacity: 0.6;
  
    position: absolute;
  
    left: 0;
  
    top: 0;
  
    width: 100%;
  
    height: auto;
  
  }
  
  
  
  p {
  
    font-family: helvetica;
  
    font-size: 24px;
  
    text-align: center;
  
    margin: 25px;
  
  }
  
  
  
  p span.item {
  
    font-weight: bold;
  
  }
  
  
  
  .small {
  
    font-family: helvetica;
  
    font-size: 18px;
  
    text-align: center;
  
    margin: 25px;
  
  }

  
  div#socials a {
    text-decoration: none;
    font-size: xx-large;
  }


  .outer-container {
  
    opacity: 0.9;
  
    text-align: center;
  
  }
  
  .container {
  
    display: flex; /* Use flexbox for layout */
    background-color: white;
    width: 700px;
  }

  /* CSS styles to position divs side by side */
    
  .box {
  
    width: 50%; /* Set width to 50% for each box */
  
    border: 1px solid #000; /* Add borders for visibility */
  
    padding: 20px;
  
    box-sizing: border-box; /* Include padding in the width */

    position: relative;

    height: 250px;
  
  }

  span.countdown {
    /* text-align: center; */
    /* position: absolute; */
    /* bottom: 50px; */
    font-size: 2em;
    margin: 0 auto;
  }
  
  /* *** */
  
  div.progress-bar-container {
  
    width: 80%;
  
    height: 20px;
  
    border: solid black 2px;
  
    display: block;

    position: absolute;
    
    bottom: 0;

    margin-bottom: 20px;
  
  }
  
  
  
  div.prog-bar {
  
    height: 100%;
    background-color: green;
  
  }

  
  button {
  
    background-color: #69a83d;
  
    border: solid 1px black;
  
    color: black;
  
    padding: 15px 32px;
  
    text-align: center;
  
    font-size: 16px;
  
    margin: 0 auto;
  
  }
  
  
  button#restart-button {
    display: none;
    color: black;
  }

  button.action-button {
    color: black;
    background-color: rgb(245, 164, 13);
  }